{% extends 'layouts/base.html' %}

{% block header %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ url_for('main.display_home') }}">
          <img src="{{ url_for('static', filename='images/cargoflasklogo.png') }}"
               class="img-responsive"
               width="229" height="50" title="Cargo Flask" alt="Cargo Flask"/>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.display_home') }}">ホーム</a></li>
            <li><a href="{{ url_for('main.create_cargonumber') }}">貨物番号登録</a></li>
            <li><a href="{{ url_for('main.display_cargo_info') }}">貨物情報一覧</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown"
                 role="button" aria-haspopup="true"
                 aria-expanded="false">アカウント
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('user.settings') }}">設定</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">セッション</li>
                <li><a href="{{ url_for('user.logout') }}">ログアウト</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{{ url_for('main.display_home') }}">ホーム</a></li>
            <li><a href="{{ url_for('main.create_cargonumber') }}">貨物番号登録</a></li>
            <li><a href="{{ url_for('main.display_cargo_info') }}">貨物情報一覧</a></li>
            <li><a href="{{ url_for('user.login') }}">ログイン</a></li>
            <li><a href="{{ url_for('user.signup') }}">ログアウト</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock%}

{# footer #}
{% block footer %}
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
            <p></p>
            <p class="text-center">CargoFlask INC  &copy;  |  2019</p>
      </div>
  </nav>
{% endblock%}
